@mixin font-size($font-size) {
  $pxFontValue: ($font-size / 10);
  $pxLineValue: ($font-size / 10 * 1.5);
  font-size: $font-size * 1px;
  line-height: $font-size * 1.5 * 1px;
  font-size: #{"${pxFontValue}rem"};
  line-height: #{"${pxLineValue}rem"};
}
