<section>
  <div id="register" class="register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    02
                  </span>
                </span>
                <span class="title">Call for papers</span>
              </h2>

              <p>
                El plazo para enviar propuestas de charlas a la primera edición de Front Fest ha finalizado.
                <strong>¡Muchas gracias a todos por vuestra colaboración!</strong>
              </p>

              <p class="margin-p-doble">
                <a href="https://www.koliseo.com/frontfest/front-fest-2017/r4p/5715088602300416" class="c4p-button">
                  <strong>ACCEDE AQUÍ A TU PROPUESTA</strong>
                </a>
              </p>

              <p class="margin-p">
                A lo largo de los próximos días nos pondremos en contacto con los participantes para informar del resultado de la selección.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
