<section>
  <div id="register" class="register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    02
                  </span>
                </span>
                <span class="title">Call for papers</span>
              </h2>

              <p>
                Envíanos tu propuesta y participa como ponente en el evento.
                <strong>El plazo acaba el 11 de diciembre a medianoche, ¡no te quedes fuera!</strong>
              </p>

              <p class="margin-p-doble">
                <a href="https://www.koliseo.com/frontfest/front-fest-2017/r4p/5715088602300416" class="c4p-button">
                  <strong>ENVÍA AQUÍ TU PROPUESTA</strong>
                </a>
              </p>

              <p class="margin-p">
                Recuerda hacer una descripción lo más detallada posible y, si tienes, adjuntar enlaces a recursos adicionales que nos puedan
                ayudar a valorar mejor tu propuesta (vídeos o slides de charlas previas, repositorios de software, etc.).
              </p>
              
              <p class="margin-p">
                <a href="{{ site.github.url }}/blog/2016/11/22/ideas-cfp"><strong>No se me ocurre nada para enviar al CFP... ¡dadme ideas!</strong></a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
