<footer>
  <div id="contact-us" class="contact-us">
    <div class="contact-us-inner cbx-top-inner">
      <div class="container">
        <div class="footer-content">
          <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
              <div class="footer-social">
                <ul class="list-unstyled list-inline text-center">
                  <li><a class="sp-tw" href="https://twitter.com/frontfest"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="sp-google" href="mailto:frontfest@gmail.com"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
              <p class="cbx-copy-right uppercase"><span class="span-color3 cbx-copy-symbol"><strong>Front Fest</strong> &copy; 2017</span></p>
            </div>
          </div>
        </div>
      </div>
      <!--//.CONTAINER-->
      <div class="cbx-top text-center">
        <a href="#cbx-header" class="gotome">
          <i class="fa fa-angle-double-up"></i>
          <p>Top</p>
        </a>
      </div>
    </div>
    <!--//.cbx-inner-->
  </div>
  <!--//.CBX FOOTER-->
</footer>
