<header>
  <div id="cbx-header" class="cbx-header">

    <div class="cbx-header-inner">

      {% include main/nav.html %}

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="cbx-header-content text-center cbx-regiter-common">
              <img class="large-logo wow zoomIn" src="{{ site.github.url }}/assets/img/logo-with-text.svg" />
              <h5 class="uppercase wow zoomIn" data-wow-delay=".4s"><span class="span-color2">Madrid</span><span class="uppercase"> 18 de febrero de 2017</span></h5>
            </div>
            <div class=" text-center">
              <!--Circular countdown starts -->
              <div class="lz-countdown-main">
                <div class="row">
                  <div class="lz-countdown-container">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                      <div class="row">
                        <div class="lz-circular-countdown-container">

                          <!-- days -->
                          <div class="lz-circular-clock-item lz-circular-clock-days lz-circular-countdown-time-value col-xs-3">
                            <div class="lz-circular-wrap   wow zoomIn " data-wow-delay=".7s">
                              <div class="lz-circular-inner">
                                <div class="lz-circular-clock-canvas"></div>
                                <div class="lz-circular-text">
                                  <p class="lz-circular-val">0</p>
                                  <p class="lz-circular-type-days lz-circular-type-time">Días</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- hours -->

                          <div class="lz-circular-clock-item lz-circular-clock-hours lz-circular-countdown-time-value col-xs-3">
                            <div class="lz-circular-wrap  wow zoomIn " data-wow-delay=".8s">
                              <div class="lz-circular-inner">
                                <div class="lz-circular-clock-canvas"></div>
                                <div class="lz-circular-text">
                                  <p class="lz-circular-val">0</p>
                                  <p class="lz-circular-type-hours lz-circular-type-time">Horas</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- minutes -->
                          <div class="lz-circular-clock-item lz-circular-clock-minutes lz-circular-countdown-time-value col-xs-3">
                            <div class="lz-circular-wrap  wow zoomIn " data-wow-delay=".9s">
                              <div class="lz-circular-inner">
                                <div class="lz-circular-clock-canvas"></div>
                                <div class="lz-circular-text">
                                  <p class="lz-circular-val">0</p>
                                  <p class="lz-circular-type-minutes lz-circular-type-time">Minutos</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- seconds -->
                          <div class="lz-circular-clock-item lz-circular-clock-seconds lz-circular-countdown-time-value col-xs-3">
                            <div class="lz-circular-wrap  wow zoomIn " data-wow-delay="1s">
                              <div class="lz-circular-inner">
                                <div class="lz-circular-clock-canvas"></div>
                                <div class="lz-circular-text">
                                  <p class="lz-circular-val">0</p>
                                  <p class="lz-circular-type-seconds lz-circular-type-time">Segundos</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Circular countdown ends -->
            </div>
          </div>
        </div>
        <!--.content ROW-->

      </div>
      <!--//.CONTAINER-->
    </div>
  </div>
  <!--//.CBX FOOTER-->
</header>
