<header>
  <div id="cbx-header" class="cbx-header">

    <div class="cbx-header-inner">

      {% include main/nav.html %}

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="cbx-header-content text-center cbx-regiter-common">
              <img class="large-logo wow zoomIn" src="{{ site.github.url }}/assets/img/logo-with-text.svg" />
              <h5 class="uppercase wow zoomIn" data-wow-delay=".4s"><span class="span-color2">Madrid</span><span class="uppercase"> 18 de febrero de 2017</span></h5>
            </div>

          </div>
        </div>
        <!--.content ROW-->

      </div>
      <!--//.CONTAINER-->
    </div>
  </div>
  <!--//.CBX FOOTER-->
</header>
