<!--MEMORIS START-->
<section>
  <div id="cbx-memoris" class="cbx-section cbx-memoris">
    <div class="cbx-inner">
      <div class="container">
        <div class="text-center">
          <div class="cbx-heading">
            <h2 class="uppercase">
              <span class="heading-serial">
                <span class="heading-serial-inner">
                  02
                </span>
              </span>
              <span class="title">Multimedia</span>
            </h2>
            <p class="heading-text-p">
              <div style="position:relative;height:0;padding-bottom:56.25%">
                <iframe src="https://www.youtube.com/embed/NCM-9A9gv6s?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
              </div>
            </p>
          </div>
        </div>
        <!--//.CBX TITLE-->
      </div>
      
      
      <div id="cbx-memorisinner" class="cbx-memorisinner">
        <div class="container-fluid text-center">
          <div class="row">
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img title="Hola" src="{{ site.github.url }}/assets/img/event/01s.jpg" alt="Hola" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Hola" href="{{ site.github.url }}/assets/img/event/01s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/02s.jpg" alt="Empezando" title="Empezando" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Empezando" href="{{ site.github.url }}/assets/img/event/02s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/03s.jpg" alt="Desayuno" title="Desayuno" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Desayuno" href="{{ site.github.url }}/assets/img/event/03s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/04s.jpg" alt="Ponentes" title="Ponentes" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Ponentes" href="{{ site.github.url }}/assets/img/event/04s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/05s.jpg" alt="Campus" title="Campus" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Campus" href="{{ site.github.url }}/assets/img/event/05s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/06s.jpg" alt="Atencion" title="Atencion" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Atencion" href="{{ site.github.url }}/assets/img/event/06s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/07s.jpg" alt="Concurso" title="Concurso" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Concurso" href="{{ site.github.url }}/assets/img/event/07s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>

            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="{{ site.github.url }}/assets/img/event/08s.jpg" alt="Adios" title="Adios" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="Adios" href="{{ site.github.url }}/assets/img/event/08s.jpg">
                        <i class="fa fa-search fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>

          </div>

        </div>
      </div>
      
      <!--//.CBX CONTACT INNER-->
    </div>
  </div>
  <!--//.CBX SECTION -->
</section>
<!--MEMORIS END-->
