<!--REGISTER START-->
<section>
  <div id="tickets" class="register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    03
                  </span>
                </span>
                <span class="title">Comprar entradas</span>
              </h2>
              <p class="heading-text-p">
                <strong>¡Compra tu entrada cuanto antes y no te quedes fuera!</strong> Tendremos un aforo limitado por la capacidad del auditorio de Campus Madrid.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-md-12 xs-text-center">

            <div class="cbx-single-pricing text-center">
              <h4 class="uppercase">Early Bird</h4>
              <ul class="list-unstyled price-list">
                <li> A la venta a partir del <strong>29 de diciembre</strong> a las <strong>10h</strong> de la mañana</li>
              </ul>
              <div class="price">
                25 €
              </div>
              <div class="buy-btn">
                <a href="https://www.koliseo.com/frontfest/front-fest-2017">Agotadas :(</a>
              </div>
            </div>

            <div class="cbx-single-pricing recommended-area cbx-single-center text-center">
              <h4 class="uppercase"><small>Con tu entrada tendrás...</small></h4>
              <ul class="list-unstyled price-list">
                <li> <i class="fa fa-check"></i> Acceso a las nueve charlas en un único track</li>
                <li> <i class="fa fa-check"></i> Welcome bag</li>
                <li> <i class="fa fa-check"></i> Comida + cafés</li>
              </ul>
            </div>

            <div class="cbx-single-pricing cbx-single-last text-center">
              <h4 class="uppercase">General</h4>
              <ul class="list-unstyled price-list">
                <li> Próximamente</li>
              </ul>
              <div class="price">
                40 €
              </div>
              <div class="buy-btn">
                <a href="https://www.koliseo.com/frontfest/front-fest-2017">No disponible aún :/</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--REGISTER END-->
