<!--SCHEDULE START-->
<section>
  <div id="schedule" class="cbx-schedule">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    03
                  </span>
                </span>
                <span class="title">Agenda</span>
              </h2>
              <!--
              <p class="heading-text-p">
                We are a team of events and conferences dedicated to building remarkable events. Working with us gets you access to our full suite of conference and events.
              </p>
              -->
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-xs-12">

            <div class="cbx-tab">
              <!-- <ul class="nav nav-pills text-center">
                <li class="active"><a data-toggle="pill" href="#morning-schedule">Mañana <br/></a></li>
                <li><a data-toggle="pill" href="#afternoon-schedule">Tarde <br/></a></li>
              </ul> -->

              <div class="tab-content cbx-tab-content text-center" id="accordion">
                
                  {% for slot in site.data.main.schedule %}
                  
                  {% if slot.pos %}
                  
                  <div class="panel panel-default cbx-single-tab">
                    
                    <div data-toggle="collapse" data-parent="#accordion" href="#collapse-{{slot.pos}}" class="row">
                      
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        <div class="cbx-info-left">
                          <h3 class="cbx-info-time">
                            {{ slot.begin }}
                            <i class="fa fa-arrow-right"></i>
                            {{ slot.end }}
                          </h3>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <div class="cbx-info text-left">
                          <h3 class="">{{ slot.title }}</h3>
                          <h5 class="uppercase">Por <span class="span-color2">{{ slot.speaker }}</span></h5>
                          <!--
                          <a href="#">
                            <p class="more"><span>Más info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                          -->
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                        <div class="cbx-info">
                          <h3 class="cbx-info-time">
                            <i class="fa fa-caret-down"></i>
                          </h3>
                        </div>
                      </div>
                      
                    </div>
                    <div id="collapse-{{slot.pos}}" class="panel-collapse collapse row">
                                            
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        <div class="cbx-info-left">
                          <div class="cbx-icon-topic">
                            <p class="cbx-info-icon"><i class="fa fa-{{ slot.icon }}"></i></p>
                            <p class="cbx-info-topic">{{ slot.topic }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                        <div class="cbx-info text-left">
                          {% for p in slot.description %}
                          <p>{{ p }}</p>
                          {% endfor %}
                          <!--
                          <a href="#">
                            <p class="more"><span>Más info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                          -->
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
                  {% else %}
                  
                  <div class="cbx-single-break">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                        {{ slot.begin }}
                        <i class="fa fa-arrow-right"></i>
                        {{ slot.end }}
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                        <i class="fa fa-{{ slot.icon }}"></i> {{ slot.title }}
                      </div>
                    </div>
                  </div>
                  
                  {% endif %}
                  
                  {% endfor %}
                  

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--SCHEDULE END-->
