<!--SPEAKERS START-->
<section>
  <div id="speakers" class="cbx-header">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    04
                  </span>
                </span>
                <span class="title">Ponentes</span>
              </h2>
              <!--
              <p class="uppercase">
                We are a team of events and conferences dedicated to building remarkable events. Working with us gets you access to our full suite of conference and events.
              </p>
              -->
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->

        <div class="row">

          {% for speaker in site.data.main.speakers %}

          <div class="col-md-4 col-sm-6 col-xs-12 xs-text-center speaker-profile">
            <div class="sp-single-are">
              <div class="cbx-view cbx-view-inner">
                <figure>
                  <img src="{{ site.github.url }}/assets/img/speakers/{{ speaker.pic }}" title="{{ speaker.name }}" />
                </figure>
              </div>
              <div class="cbx-name-info">
                <h3 class="uppercase">{{ speaker.name }}</h3>
                <div class="cbx-effect-one sp-social-icon">
                  {% if speaker.url %}<a class="sp-url" href="http://{{ speaker.url }}" title="Web personal"><i class="fa fa-code"></i></a>{% endif %}
                  {% if speaker.tw %}<a class="sp-tw" href="http://twitter.com/{{ speaker.tw }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
                  {% if speaker.gh %}<a class="sp-gh" href="http://github.com/{{ speaker.gh }}" title="Github"><i class="fa fa-github"></i></a>{% endif %}
                  {% if speaker.in %}<a class="sp-in" href="http://linkedin.com/in/{{ speaker.in }}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>{% endif %}
                  {% if speaker.cp %}<a class="sp-cp" href="http://codepen.io/{{ speaker.cp }}" title="Codepen"><i class="fa fa-codepen"></i></a>{% endif %}
                </div>
                <p>
                  <strong>{{ speaker.position }}</strong>
                </p>
                <p class="speaker-description">{{ speaker.bio }}</p>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>
      <!--//container-->

    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--SPEAKERS END-->
