<!--SPONSORED START-->
<section>
  <div id="sponsored" class="cbx-sponsored">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    05
                  </span>
                </span>
                <span class="title">Sponsors</span>
              </h2>
              <!-- <p class="heading-text-p">
                Nuestros patrocinadores son una parte fundamental de Front Fest. ¡Gracias a todos ellos!
              </p> -->
            </div>
          </div>
          <!--//main COL-->
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-ash-light">platinum</span> <span class="span-light">Sponsor</span></h4>
            </div>
            <div class="row">
              <div class="col-sm-offset-3 col-xs-12 col-sm-6">
                <a target="_blank" href="http://www.intelygenz.es/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/intelygenz.png" title="Intelygenz" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-gold">Gold</span> <span class="span-light">Sponsors</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <a target="_blank" href="https://www.paradigmadigital.com/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/paradigma.png" title="Paradigma" />
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a target="_blank" href="http://www.gft.com/es/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/GFT.png" title="GFT" />
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a target="_blank" href="http://www.fictizia.com/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/fictizia.png" title="Fictizia" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-ash-light">Silver</span> <span class="span-light">Sponsors</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <a target="_blank" href="http://kaleidos.net/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/kaleidos.png" title="Kaleidos" />
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a target="_blank" href="http://sngular.team/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/sngular.png" title="Sngular" />
                </a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a target="_blank" href="http://www.ets.es/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/ETS.png" title="ETS" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-media-partner">Media</span> <span class="span-light">Partner</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
                <a target="_blank" href="https://www.paradigmadigital.com/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/paradigma.png" title="Paradigma" />
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-light">Patrocinador en especies</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
                <a target="_blank" href="http://www.codan.es/" class="single-sponsored">
                  <img src="{{ site.github.url }}/assets/img/sponsors/codan.jpg" title="Codan" />
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--//.SPONSORED END-->
