<!--SPONSORED START-->
<section>
  <div id="cbx-sponsored" class="cbx-sponsored">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    04
                  </span>
                </span>
                <span class="title">Sponsors</span>
              </h2>
              <p class="heading-text-p">
                We are a team of events and conferences dedicated to building remarkable events. Working with us gets you access to our full suite of conference and events.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-ash-light">Silver</span> <span class="span-light">Sponsors</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!--//col-->
        </div>
        <!--//row-->

        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-ash-light">Golden</span> <span class="span-light">Sponsors</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!--//col-->
        </div>
        <!--//row-->

        <div class="row">
          <div class="col-xs-12">
            <div class="sponsored-heading text-center">
              <h4 class="uppercase"><span class="span-ash-light">platinum</span> <span class="span-light">Sponsors</span></h4>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="http://placehold.it/258x78" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!--//col-->
        </div>
        <!--//row-->
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--//.SPONSORED END-->
