<!--SUBSCRIBER START-->
<section>
  <div id="cbx-subscriber" class="cbx-subscriber">
    <div class="cbx-testi-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    <i class="fa fa-send"></i>
                  </span>
                </span>
                <span class="title">Contacta con nosotros</span>
              </h2>
              <p>
                Para cualquier pregunta, duda o sugerencia, no dudes en ponerte en contacto con la organización.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--// row-->
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
            <div class="cbx-subscriber text-center">
              <div class="subscribe-form">
                <div class="form-group xs-text-center">
                  <a href="{{ site.github.url }}/codigo-conducta" class="cbx-submit lz-submit-btn" name="cbx-submit">
                    <strong>Código de conducta</strong>
                  </a>
                </div>
              </div>
            </div>
            <!--//.SUBSCRIBE-->
          </div>
        </div>
        <!--//ROW-->
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--CONTACT END-->
