<!--TRAVELINFO START-->
<section>
  <div id="location" class="location">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    07
                  </span>
                </span>
                <span class="title">Localización</span>
              </h2>
              <p>
                Estaremos en <strong>Campus Madrid</strong>, lugar de referencia del ecosistema tecnológico en Madrid.
              </p>
              <p class="margin-p">
                <strong>Calle Moreno Nieto, 2, 28005 Madrid, España</strong>
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 xs-text-center">
            <div class="single-service">
              <h3><a href="#"><i class="fa fa-subway"></i> Metro</a></h3>
              <p>Príncipe Pío (L6, L10) • La Latina (L5) • Ópera (L2, L5)</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 xs-text-center">
            <div class="single-service">
              <h3><a href="#"><i class="fa fa-train"></i> Cercanías Renfe</a></h3>
              <p>Príncipe Pío (C1, C7, C10)</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 xs-text-center">
            <div class="single-service">
              <h3><a href="#"><i class="fa fa-bus"></i> Bus urbano</a></h3>
              <p>Parada Ronda de Segovia - Segovia (41, 62, C2)</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div data-lat="40.412419" data-lng="-3.71825" data-title="Campus Madrid" data-content="Calle Moreno Nieto, 2, 28005 Madrid, España" class="lz-map map_canvas" id="map_canvas"></div>
            </div>
            <!-- //ROW -->
          </div>
        </div>

      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--TRAVELINFO END-->
