<!--VENUE START-->
<section>
  <div id="cbx-venue" class="cbx-section cbx-contact">

    <div id="cbx-venueinner" class="cbx-contactinner">
      <div class="cbx-inner">
        <div class="container">
          <div class=" cbx-content cbx-venue-content">
            <div class="row">
              <div class="col-xs-12 text-center">
                <a class="video-play" href="#" data-toggle="modal" data-target="#videoModal"><i class="fa fa-play"></i></a>
                <div class="">

                  <!--VIDEO MODAL START-->
                  <!-- Modal -->
                  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header cbx-modal-header">
                          <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="{{ site.github.url }}/assets/img/close.png" alt=""/></span></a>
                        </div>
                        <div class="modal-body" id="videoModalLabel">
                          <iframe src="https://player.vimeo.com/video/26989399" height="281" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--VIDEO MODAL END-->
                  <!--//.ALL MODAL END-->

                </div>
                <!--//.venue-bottomcontent-->
              </div>
              <!--//.COL-->
            </div>
            <!--//.ROW-->
          </div>
          <!--//. CBX CONTENT CONTENT-->
        </div>
        <!--//.CONAINER-->
      </div>
      <!--//.CBX INNER-->
    </div>
    <!--//.CBX CONTACT INNER-->
  </div>
  <!--//.CBX SECTION -->
</section>
<!--VENUE END-->
