<!--SPEAKERS START-->
<section>
  <div id="whoarewe" class="cbx-header">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    01
                  </span>
                </span>
                <span class="title">Qué es</span>
              </h2>
              <p>
                <strong>Front Fest es el evento sobre tecnologías web</strong> (HTML, CSS, Javascript... ¡y lo que surja!) en el
                que podrás conocer a otros desarrolladores front-end como tú y aprender de ellos. Queremos reunir
                a los mejores profesionales, evangelistas y gurús del desarrollo front-end de toda España.
              </p>
              <p class="margin-p">
                <strong>¿Te unes a nosotros?</strong>
              </p>
              <p class="margin-p-30 button-blog">
                <a href="{{ site.github.url }}/blog">
                  <img class="button-blog-image" src="{{ site.github.url }}/assets/img/logo.png">
                  <span class="button-blog-title">Front Fest <strong>blog</strong></span>
                </a>
              </p>
              <p>
                <strong>Front Fest </strong>surge como iniciativa de un grupo de participantes en cuatro de las comunidades más
                activas dentro del mundo front-end en nuestro país: <strong>Angular Madrid</strong>, <strong>Front-end Developers
                Madrid</strong>, <strong>HTML5 Spain</strong> y <strong>MadridJS</strong>.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->

        <div class="row">
          <div class="col-xs-6 col-sm-3 text-center">
            <a href="http://www.meetup.com/es-ES/Angular_Madrid/"><img src="assets/img/meetup-angular.jpg" /></a>
          </div>
          <div class="col-xs-6 col-sm-3 text-center">
            <a href="http://www.meetup.com/es-ES/Front-end-Developers-Madrid/"><img src="assets/img/meetup-frontend-developers.jpg" /></a>
          </div>
          <div class="col-xs-6 col-sm-3 text-center">
            <a href="http://www.meetup.com/es-ES/HTML5-Spain/"><img src="assets/img/meetup-html5-spain.jpg" /></a>
          </div>
          <div class="col-xs-6 col-sm-3 text-center">
            <a href="http://www.meetup.com/es-ES/madridjs/"><img src="assets/img/meetup-madridjs.jpg" /></a>
          </div>
        </div>

      </div>
      <!--//container-->

    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--SPEAKERS END-->
