<!--REGISTER START-->
<section>
  <div id="register" class="register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    05
                  </span>
                </span>
                <span class="title">Register</span>
              </h2>
              <p class="heading-text-p">
                We are a team of events and conferences dedicated to building remarkable events. Working with us gets you access to our full suite of conference and events.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-md-12 xs-text-center">

            <div class="cbx-single-pricing text-center">
              <h4 class="uppercase">Initial pass</h4>
              <ul class="list-unstyled price-list">
                <li> Unlimited licenses</li>
                <li> Unlimited Entrance</li>
                <li> One Unlimited Entrance</li>
                <li> Day One Coffee Break</li>
                <li> ************</li>
                <li> *********</li>
                <li> *******</li>
              </ul>
              <div class="price">
                $ 07.95
                <span>/ month</span>
              </div>
              <div class="buy-btn">
                <a href="#">Buy Ticket</a>
              </div>
            </div>

            <div class="cbx-single-pricing recommended-area cbx-single-center text-center">
              <span class="recommended">Recommended</span>
              <h4 class="uppercase">Standard pass</h4>
              <ul class="list-unstyled price-list">
                <li> Unlimited licenses</li>
                <li> Unlimited Entrance</li>
                <li> One Unlimited Entrance</li>
                <li> Day One Coffee Break</li>
                <li> Day One Certificate</li>
                <li> Day One Workshop</li>
                <li> ************ </li>
                <li> **********</li>
              </ul>
              <div class="price">
                $ 100.5
                <span>/ month</span>
              </div>
              <div class="buy-btn">
                <a href="#">Buy Ticket</a>
              </div>
            </div>

            <div class="cbx-single-pricing cbx-single-last text-center">
              <h4 class="uppercase">Golden pass</h4>
              <ul class="list-unstyled price-list">
                <li> Unlimited licenses</li>
                <li> Unlimited Entrance</li>
                <li> One Unlimited Entrance</li>
                <li> Day One Coffee Break</li>
                <li> Day One Certificate</li>
                <li> Day One Workshop</li>
                <li> One Certificate</li>
              </ul>
              <div class="price">
                $ 500.5
                <span>/ month</span>
              </div>
              <div class="buy-btn">
                <a href="#">Buy Ticket</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--REGISTER END-->
