<!--SCHEDULE START-->
<section>
  <div id="cbx-schedule" class="cbx-schedule">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    02
                  </span>
                </span>
                <span class="title">Schedule</span>
              </h2>
              <p class="heading-text-p">
                We are a team of events and conferences dedicated to building remarkable events. Working with us gets you access to our full suite of conference and events.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-xs-12">
            <div class="cbx-tab">
              <ul class="nav nav-pills text-center">
                <li class="active"><a data-toggle="pill" href="#home">First Day <br/><span>26.05.2015</span></a></li>
                <li><a data-toggle="pill" href="#menu1">Second Day <br/><span>27.05.2015</span></a></li>
                <li><a data-toggle="pill" href="#menu2">Third Day <br/><span>28.05.2015</span></a></li>
                <li><a data-toggle="pill" href="#menu3">Forth Day <br/><span>29.05.2015</span></a></li>
              </ul>

              <div class="tab-content cbx-tab-content text-center">

                <div id="home" class="tab-pane fade in active">
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 09:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">ALEX F. ESPITIA</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 10:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Design Conference and Prize-giving</h3>
                          <h5 class="uppercase">By <span class="span-color2">FRANK E. ROCKEY</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 11:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Awards - Web Design Conference</h3>
                          <h5 class="uppercase">By <span class="span-color2">JAMIE L. LYONS</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 12:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Web Design Conference</h3>
                          <h5 class="uppercase">By <span class="span-color2">JOSEPH B. SPARKS</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                </div>

                <div id="menu1" class="tab-pane fade">
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 01:30 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">Devid Warner</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 09:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">Devid Warner</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 09:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">Devid Warner</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                </div>

                <div id="menu2" class="tab-pane fade">
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 09:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">Devid Warner</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 09:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">Devid Warner</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                </div>

                <div id="menu3" class="tab-pane fade">
                  <div class="cbx-single-tab">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4">
                        <a href="#"><img src="http://placehold.it/480x480" alt="" /></a>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <div class="cbx-info text-left">
                          <span><a href="#"><i class="fa fa-clock-o"></i> 09:03 AM</a></span>
                          <span><a href="#"><i class="fa fa-building"></i> Room 305</a></span>
                          <span><a href="#"><i class="fa fa-hospital-o"></i> Grand Tipu Sultan</a></span>
                          <h3 class="uppercase">Welcoming and Introduction</h3>
                          <h5 class="uppercase">By <span class="span-color2">Devid Warner</span></h5>
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae Nullam varius a felis eu dictum. Suspendisse sodales leo non ipsum tincidunt, seder elementum orci luctus sodales lacus euismod.</p>
                          <a href="#">
                            <p class="more"><span>More Info <i class="fa fa-long-arrow-right"></i></span></p>
                          </a>
                        </div>
                        <!--//.single tab-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--SCHEDULE END-->
