<!--TESTIMONIALS START-->
<section>
  <div id="cbx-testimonials" class="cbx-testimonials">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    07
                  </span>
                </span>
                <span class="title">Testimonials</span>
              </h2>
              <p class="heading-text-p">
                We are a team of events and conferences dedicated to building remarkable events. Working with us gets you access to our full suite of conference and events.
              </p>
            </div>
          </div>
          <!--//main COL-->
        </div>
        <!--//main row-->
        <div class="row">
          <div class="col-md-12">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators cbx-carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="http://placehold.it/128x128" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="http://placehold.it/128x128" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="http://placehold.it/128x128" alt="">
                </li>
              </ol>

              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner text-center">

                <!-- Quote 1 -->
                <div class="item active">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">

                        <div class="cbx-single-people">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore!
                          </p>
                          <small class="uppercase">Jonathon Doe</small>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">

                        <div class="cbx-single-people">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore!
                          </p>
                          <small class="uppercase">Devid Jonathon</small>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">
                        <div class="cbx-single-people">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore!
                          </p>
                          <small class="uppercase">Elina Doe</small>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </div>
              </div>

              <!-- Carousel Buttons Next/Prev -->
              <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
              <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--//container-->
    </div>
    <!--//cbx-inner-->
  </div>
</section>
<!--TESTIMONIALS END-->
