<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Front Fest Blog{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="El primer evento exclusivamente dedicado al mundo del front-end en Madrid">
  <meta name="keywords" content="event, meetup, conference, front-end, frontend, html, css, javascript, web" />

  <!-- twitter card starts from here, if you don't need remove this section -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@frontfest" />
  <meta name="twitter:creator" content="@frontfest" />
  <meta name="twitter:url" content="{{ page.url }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}Blog{% endif %}" /> <!-- maximum 140 char -->
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% endif %}" /> <!-- maximum 140 char -->
  <meta name="twitter:image" content="http://frontfest.es/assets/img/logo-rrss.png" />  <!-- when you post this page url in twitter , this image will be shown -->
  <!-- twitter card ends from here -->

  <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Blog{% endif %}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:locale" content="es_ES" />
  <meta property="og:site_name" content="Front Fest" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}"/>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://frontfest.es/assets/img/logo-rrss.png" /> <!-- when you post this page url in facebook , this image will be shown -->
  <!-- facebook open graph ends from here -->

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- icons & favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.github.url }}/assets/img/manifest.json">
  <link rel="mask-icon" href="{{ site.github.url }}/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Front Fest">
  <meta name="application-name" content="Front Fest">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.github.url }}/assets/img/favicon.ico" />  <!-- this icon shows in browser toolbar -->
  <link rel="icon" type="image/x-icon" href="{{ site.github.url }}/assets/img/favicon.ico" /> <!-- this icon shows in browser toolbar -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.github.url }}/assets/styles/blog.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.github.url }}/feed.xml" />

</head>
