/**** CONTACT START ***/
.cbx-map-text {
  background: $brand-color;
  padding: 5px 10px;
  width: 250px;
  color: $white;
  @include font-size(16);
}
#map_canvas {
  height: 400px;
  ;
}

#map_canvas img {
  max-width: none;
}

.lz-map{
  text-align: center;

}


#cbx-contact {

  .cbx-contact-form {

    input {
      height: 45px;
      border-radius: 0;
      background: $ash-light;
      border: 2px solid $brand-color;
      -webkit-transition: all 0.2 ease;
      transition: all 0.7s linear;
        border-radius: 4px;
      &:hover, &:focus {
        background: $white;
          border: 2px solid $brand-color2;


      }
    }
    textarea {
      height: 200px;
      border-radius: 0;
      background: $ash-light;
      border: 2px solid $brand-color;
      -webkit-transition: all 0.2 ease;
      transition: all 0.7s linear;
        border-radius: 4px;
      &:hover, &:focus {
        background: $white;
        border: 2px solid $brand-color2;
      }
    }

  }
  .cbx-send-button {
    margin-top: 20px;
    button {
      font-family: $font-family-content;
      @include font-size(17);
      background: $brand-color;
      color: $white;
      padding: 10px 30px;
      border: 0;
      text-transform: uppercase;
      -webkit-transition: all 0.2 ease;
      transition: all 0.6s linear;
        border-radius: 4px;
      &:hover {
        background: $brand-color2;
      }
    }
  }

}


.location-bottomcontent {
  .modal {
    color: $ash;
    @include font-size(16);
    text-transform: uppercase;
  }
  font-weight: 600;
  padding: 16px 20px;
  @include font-size(20);
  h2 {
    @include font-size(40);
    color: $black;
    border-right: 2px solid $black;
    margin-top: 9px;
    padding-right: 34px;
  }
  .address {
    padding-left: 20px;
    i {
      color: $ash-light;
      padding-right: 10px;
      @include font-size(30);
    }

    span {
      color: $black;
    }
  }

  button {
    margin-top: 23px;
    background: $brand-dark;
    border: 2px solid $black;
    border-radius: 30px;
    color: $white;
    outline: none;
    padding: 9px 34px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3s linear;
    &:hover, &:focus {
      outline: none;
      background: $white;
      color: $brand-color;
      border: 2px solid $brand-color2;
    }
  }

  li:first-child {
    @include font-size(40);
    color: $black;
    border-right: 1px solid $black;
  }

}

/**** CONTACT END ***/
