/***** HEADER START ****/



#cbx-header {
    background: url('../../assets/img/campus-1.jpg') center center no-repeat fixed;

    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #ffffff;

    .cbx-header-inner {
        background: -moz-linear-gradient(top,  rgba(62, 84, 132, 0.9) 0%, rgba(153, 16, 31, 0.8) 200%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left right, color-stop(0%,rgba(153, 16, 31, 0.8)), color-stop(100%,rgba(246, 242, 242, 0.95))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(62, 84, 132, 0.9) 0%,rgba(153, 16, 31, 0.8) 200%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(62, 84, 132, 0.9) 0%,rgba(153, 16, 31, 0.8) 200%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(62, 84, 132, 0.9) 0%,rgba(153, 16, 31, 0.8) 200%); /* IE10+ */
        background: linear-gradient(to right, rgba(62, 84, 132, 0.9) 0%,rgba(153, 16, 31, 0.8) 200%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(59, 89, 153, 0.9)', endColorstr='rgba(189, 8, 28, 0.9)',GradientType=0 ); /* IE6-9 */
        padding-bottom: 100px;
    }
    
    .cbx-header-inner-cod {
        background: $white; /* W3C */
        padding-bottom: 0;
        .large-logo {
          margin-top: 50px;
        }
    }

    /*MoDAL CUSTOM*/


    /*New NAvbar*/

    .cbx-navbar {
        background: none;
        border-bottom: none;
        border-color: $brand-dark;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 15px;
        border: none;
        border-radius: 0;

        .event-ticket {
            margin-top: 7px;
            li {
                a {
                    font-weight: 600;
                    background: $brand-color;
                    display: block;
                    padding: 10px 20px;
                    color: $white;
                    border-radius: 5px;
                    -webkit-transition: all 0.2 ease;
                    transition: all 0.3s linear;
                    &:hover {
                        background: $brand-color2;
                    }
                }
            }
        }
    }
    .navbar-toggle {
      margin-top: 10px;
        .icon-bar {
            background-color: $white;
        }
    }

    /*New NAvbar*/

    .menu-onscroll {
        @include bg-rgba($black, 1);
        position: fixed;
        width: 100%;
        z-index: 999;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom-color:$brand-color;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3s linear;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        .logo {
          display: block
        }
    }

    .logo {
      display: none;
        h2 a {
            @include font-size(35);
            color: $white;
            font-weight: 600;
            span {
                color: $brand-color2;
            }
            img {
              height: 50px;
            }
        }
    }

    .cbx-nav {
        background: none;
        border: none;
        box-shadow:none;
    }

    .navbar-collapse {
      margin-top: 0;
    }

    .cbx-nav-right {
        li {
          font-weight: 600;

            a {
                @include font-size(15);
                color: $ash-light;
                -webkit-transition: all 0.2 ease;
                transition: all 0.4s linear;
                text-transform: uppercase;
                padding: 15px 5px;
                margin: 0 5px;
                &:hover, &:active, &:focus {
                    color: $brand-color;
                }
            }
        }
        .active {
            a {
                color: $brand-color;
                background: transparent;
            }
        }
    }

    .cbx-header-content {
        margin-top: 14rem;
        display: block;
        .large-logo {
          width: 600px;
        }
        h4 {
            font-family: $font-family-content;
            font-weight:600;
            @include font-size(60);
            line-height: 7rem;
            margin-bottom: 1.8rem;
            letter-spacing: normal;
        }
        h1 {
            font-weight: 600;
            @include font-size(76);
            letter-spacing: 4px;
        }


        h5 {
            font-weight: 600;
            @include font-size(34);
            margin-top:1.5rem;
        }
        p {
            font-family: $font-family-content;
            font-weight: 400;
            @include font-size(16);
            margin-top: 80px;
            margin-bottom: 20px;
        }

    }
  

    .cbx-countdown {
        p {
            font-family: $font-family-content;
            font-weight: 400;
            @include font-size(16);
            margin-top: 40px;
        }
    }

}


.lz-countdown-main {
    margin: 8rem 0;
}

.button-blog {
  a {
    padding: 15px;
    background-color: lighten($blue, 15%);
    border-radius: 5px;
    transition: 0.2s;
    &:hover {
      background-color: lighten($blue, 10%);
    }
    .button-blog-title {
      @include font-size(24);
      color: $black;
    }
    .button-blog-image {
      width: 28px;
      margin-right: 5px;
    }
  }

}

/***** HEADER END ****/
