.register {
    background: url('../../assets/img/campus-2.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #ffffff;

    .text-orange {
      color: $brand-color2;
    }

    .cbx-inner {
        @include bg-rgba($black, .8);
        padding-bottom: 9rem;
    }

    .cbx-heading {
        margin-bottom: 12rem;
        h2, .h1 {
            color: $white;
            .heading-serial {
                .heading-serial-inner {
                    color: $brand-color;
                }

            }
            .title {

            }
        }
        p {
            color: $white-ash;
        }
    }

    .margin-p-doble {
      margin-top: 40px;
      margin-bottom: 30px;
      .c4p-button {
        background: $brand-color;
        color: $white;
        border: 0;
        text-transform: uppercase;
        padding: 12px 32px;
          border-radius: 4px;
          -webkit-transition: all 0.2 ease;
          transition: all 0.2s linear;
        &:hover {
          background: $brand-color2;
        }
      }
    }
.recommended-area {
    position: relative;
    top: -48px;
    .recommended {
        background: $black;
        color: #ffffff;
        position: relative;
        top: -30px;
        left: 0;
        display: block;
        font-family: open sans;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 0;
        position: relative;
        text-transform: uppercase;
        -webkit-transition: all 0.2 ease;
        transition: all 0.2s linear;

    }
    &:hover {
        .recommended {
            top: -15px;
            background: transparent;
            color: $black;
        }
    }
}
  .cbx-single-pricing {
      margin-top: 3rem;
    padding: 30px 0;
    @include bg-rgba($black, .6);
    //margin-bottom: 70px;
    color: $ash;
      float: left;
      width: 33.3333%;
      -webkit-transition: all 0.2 ease;
      transition: all 0.2s linear;

      h4 {
          @include font-size(30);
          font-weight: 600;
          color: $white;
          @include bg-rgba($white, .1);
          padding: 5px 0;
          -webkit-transition: all 0.2 ease;
          transition: all 0.2s linear;
          small {
            @include font-size(18); 
            color: $white;
            font-weight: 600;
          }
      }

      .price-list {
          margin: 30px 0;
          li {
              font-family: $font-family-content;
              padding: 10px 25px;
              color: #f9f9f9;
              letter-spacing: .05rem;
              @include font-size(16);
              font-weight: 600;
              -webkit-transition: all 0.2 ease;
              transition: all 0.2s linear;
              strong {
                color: $brand-color2;
              }
          }
      }
      .price {
          @include font-size(50);
          color: $white;
          font-weight: 600;
          -webkit-transition: all 0.2 ease;
          transition: all 0.2s linear;
          span {
              @include font-size(20);
              color: $white;
              font-weight: 400;
              display: block;
              line-height: 1rem;
          }
      }
      .buy-btn {
          margin: 30px 0;
          a {
              @include font-size(16);
              @include bg-rgba($white, .3);
              border-radius: 4px;
              padding: 8px 20px;
              color: $white;
              border: 1px solid $white;
              -webkit-transition: all 0.2 ease;
              transition: all 0.2s linear;
          }
      }

      &:hover {
          // background: $brand-color2;
          h4 {
              color: $white;
              @include bg-rgba($black, .2);
          }
          .price-list {
              li {
                  color: $white;
              }
          }

          .buy-btn {
              margin: 30px 0;
              a {
                  &:hover {
                      @include bg-rgba($brand-color, 1);
                      border: 1px solid $brand-color;
                  }
              }
          }

      }

  }

    .cbx-single-center {
        @include bg-rgba($brand-color, 1);
        -webkit-transition: all 0.2 ease;
        transition: all 0.2s linear;
    }
    .cbx-single-last {
        //background: $brand-color;
    }
}
