.cbx-schedule {
    .cbx-inner {
        //padding-bottom: 12rem;
    }
  .cbx-tab {
    //background: $ash-light;
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
      background-color: $ash-light;
      color: $black;
      border-radius: 0;
        padding: 1rem 3.5rem;
    }
    .nav-pills > li > a {
      border-radius: 0;
      color: $white;
      text-transform: uppercase;
      font-family: $font-family-content;
      font-weight: 600;
      @include font-size(16);
        padding: 1rem 3rem;
        -webkit-transition: all 0.2 ease;
        transition: all 0.3s linear;

      span {
        font-weight: 400;
        @include font-size(14);
      }
        &:hover {
            color: $black;
            padding: 1rem 3.5rem;
        }
    }
    ul {
      background: $black;
        border-radius: 8px;
      li {
        display: inline-block;
        float: none;
      }
    }
    .cbx-tab-content {
      &:active {
        display: inline-block;
        float: none;
      }
    }
  }

  .cbx-single-break {
    margin: 20px 0;
    padding: 15px;
    background-color: $brand-color2;
    color: $black;
    font-family: $font-family-content;
    @include font-size(18);
    font-weight: bold;
  }

  .cbx-single-tab {
    margin-top: 1rem;
      @include bg-rgba($black, .8);
      -webkit-transition: all 0.2 ease;
      transition: all 0.3s linear;

      .cbx-info-left {
        padding: 2rem 0px 0.5rem 30px;
        height: 100%;
        @media (max-width: 767px) {
          padding: 25px 15px 15px 15px;
        }
        p {
          font-family: $font-family-content;
          font-weight: 600;
          text-align: center;
          @include font-size(14);
          color: #ddd;
        }
        .cbx-icon-topic {
          @media (max-width: 767px) {
            float: left;
          }
        }
        .cbx-info-time {
          font-size: 16px;
          text-align: center;
          @media (max-width: 767px) {
            text-align: right;
            @include font-size(22);
          }
        }
        .cbx-info-topic {
          @media (max-width: 767px) {
            display: inline-block;
            margin: 0;
            padding: 8px 0 0 16px;
          }
        }
        .cbx-info-icon {
          margin: 20px 0 0 0;
          i {
            @include font-size(50);
          }
          @media (max-width: 767px) {
            display: inline-block;
            float: left;
            text-align: left;
            margin: 0;
            i {
              @include font-size(24);
            }
          }
        }
        text-transform: uppercase;
        i {
          color: $brand-color2;
        }
      }

      .cbx-info {
          @media (max-width: 767px) {
            padding-top: 0;
          }
          padding: 2rem 30px 0.5rem 20px;
          p {
            padding-bottom: 6px;
            font-size: 14px;
          }
      }

    h3 {
      font-family: $font-family-content;
      font-weight: 600;
      @include font-size(25);
      padding-top: 0px;
      padding-bottom: 0px;
      color: $white;
    }

    h5 {
      font-family: $font-family-content;
      font-weight: 400;
      padding-bottom: 2rem;
      @include font-size(14);
        color: $white;
    }

    p {
        @include font-size(16);
        line-height: 2.8rem;
        letter-spacing: normal;
       padding-bottom: 24px;
       color: $white-ash;
    }
      &:hover {
          @include bg-rgba($black, 1);
      }

  }

  .more {
    span {
      position: relative;
      i {
        position: absolute;
        top: 11px;
        right: 13px;
        color: $ash-light;
          -webkit-transition: all 0.2 ease;
          transition: all 0.3s linear;
      }
      background: $brand-color;
      color: $ash-light;
        padding: 8px 33px 8px 15px;
      -webkit-transition: all 0.2 ease;
      transition: all 0.6s linear;
        border-radius: 4px;

      &:hover {
        background: $brand-color2;
        i {
          right: 5px;
        }
      }
    }
  }
}
