#speakers {
  background: #f1f1f1;
    .speaker-profile {
        height: 800px;
        @media only screen and (max-width : 992px) {
          height: 732px;
        }
        @media only screen and (max-width : 767px) {
          height: auto;        
        }
    }
    .speaker-description {
      font-size: 14px;
    }
    .cbx-inner {
        padding-bottom: 8rem;
    }
    .sp-single-are {
        margin: 0 auto;
        max-width: 400px;
    }
    .cbx-name-info {
        margin: 15px 0 40px 0;
        text-align: center;
        h3 {
            @include font-size(20);
            font-weight: 600;
            margin-bottom: 5px;
            a {
                color: $black;
                -webkit-transition: all 0.2 ease;
                transition: all 0.3s linear;
                &:hover {
                    color: $brand-color;
                }
            }
        }
        h4 {
            font-family: $font-family-content;
            @include font-size(15);
            font-weight: 400;
            color: $brand-color;
            letter-spacing: .05rem;
            text-transform: uppercase;

        }
    }
    .sp-social-icon {

        a {
            font-size: 24px;
            color: $white;
            @include bg-rgba($brand-color, 0.7);
            height: 40px;
            width: 40px;
            border-radius: 4px;
            display: inline-block;
            line-height: 40px;
            margin-bottom: .5rem;
            -webkit-transition: all 0.2 ease;
            transition: all 0.2s linear;

        }
        .sp-tw {
            background: #55acee;
            &:hover {
              background: lighten(#55acee, 15%);
            }
        }
        .sp-fb {
            background: #3b5999;
            &:hover {
              background: lighten(#3b5999, 15%);
            }
        }
        .sp-url{
            background: #DC4E41;
            &:hover {
              background: lighten(#DC4E41, 15%);
            }
        }
        .sp-gh {
            background: #000000;
            &:hover {
              background: lighten(#111, 20%);
            }
        }
        .sp-cp {
            background: #000000;
            &:hover {
              background: lighten(#111, 20%);
            }
        }
        .sp-in {
            background: #0077B5;
            &:hover {
              background: lighten(#0077B5, 15%);
            }
        }
    }
  /*.sp-single-img-area {
    position: relative;

    h2 {
      @include bg-rgba($brand-color, 0.8);
      color: $white;
      padding: 3px 16px;
      left: 0;
      position: absolute;
      @include font-size(24);
    }
  }

  .speaker_text {
    h3 {
      margin-top: 16px;
      color: $white;
    }
    h4 {
      color: $ash-light;
      margin-bottom: 20px;
    }
    ul {
      li {
        background: $brand-dark;
        height: 40px;
        width: 40px;
        margin-top: 20px;
        &:hover {
          background: $brand-light;
          color: $brand-dark;
        }
        i {
          @include font-size(24);
          padding-left: 5px;
          padding-top: 2px;
        }
      }

    }
  }
  .speaker_masterimg{
    float: left; margin-right:10px ;
  }
  .kwicks {
    height: 420px;
  }
  .kwicks > li {
    height: 420px;
    .speakers{

      .speaker_verticalimg{
        display: none;
      }
      .speaker_text {
        display: none;
      }
    }
  }
  .kwicks > li.kwicks-expanded {
      .speaker_photo {
        float: left; display: inline-block;
        margin-right: 10px;
      }

      .speaker_text {
        display: block;
        padding: 10px 10px 10px 0;
        color: #fff;
      }
    .sp-single-img-area {
      h2 {
        display: none;
      }
    }
  }
  .kwicks > li.kwicks-collapsed {

    .speakers {
      .speaker_intro{
        display: none;
      }
      .speaker_verticalimg{
        display: block; width: 100%;
      }


    }
  }

  #panel-1 { background-color: $brand-color; }
  #panel-2 { background-color: $brand-color; }
  #panel-3 { background-color: $brand-color; }
  #panel-4 { background-color: $brand-color; }
  #panel-5 { background-color: $brand-color; }
*/








}




.cbx-view {
    width: 100%;
    height: 100%;
    //float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;

    .cbx-hover-link {
        display: table;
        height: 100%;
        width: 100%;
        .cbx-vertical {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
}
.cbx-view .cbx-figcaption,.cbx-view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.cbx-view img {
    display: block;
    position: relative;
}
.cbx-view .cbx-effect-one {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.cbx-view p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.cbx-view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: $brand-color2;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
}
.cbx-view a.info:hover {
    background: $brand-color;
}



.cbx-view-inner img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
}
.cbx-view-inner .cbx-figcaption {
    //background-color: rgba(146,96,91,0.5);
    @include bg-rgba($brand-color2, 0.5);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
}
.cbx-view-inner .cbx-effect-one {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}
.cbx-view-inner p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    -ms-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
}
.cbx-view-inner a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}
.cbx-view-inner:hover .cbx-figcaption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.cbx-view-inner:hover img {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.cbx-view-inner:hover .cbx-effect-one {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.cbx-view-inner:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.cbx-view-inner:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
