#sponsored {
  .cbx-inner {
      padding-bottom: 3rem;
  }


  .sponsored-heading {

    h4 {
      font-family: $font-family-content;
      font-weight: 600;
      @include font-size(22);
      color: $ash;
      padding-bottom: 10px;

    }
  }




  .single-sponsored {
    display: block;
    margin: 20px 25px 70px 25px;
  }

  .cbx-heading {
    p {
      margin-bottom: 10px;
    }
  }

  .span-ash-light {
    color: gray;
  }
  .span-media-partner {
    color: #ff3b3b;
  }
  .span-gold {
    font-weight: 600;
    color: darken(gold, 5%);
  }
  .span-light {
    color: black;
  }
}
