<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>Front Fest</title>
  <meta name="description" content="El primer evento exclusivamente dedicado al mundo del front-end en Madrid">
  <meta name="keywords" content="event, meetup, conference, front-end, frontend, html, css, javascript, web" />

  <!-- twitter card starts from here, if you don't need remove this section -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@frontfest" />
  <meta name="twitter:creator" content="@frontfest" />
  <meta name="twitter:url" content="http://frontfest.es" />
  <meta name="twitter:title" content="El primer evento exclusivamente dedicado al mundo del front-end en Madrid" /> <!-- maximum 140 char -->
  <meta name="twitter:description" content="Madrid, 18 de febrero de 2017" /> <!-- maximum 140 char -->
  <meta name="twitter:image" content="http://frontfest.es/assets/img/logo-rrss.png" />  <!-- when you post this page url in twitter , this image will be shown -->
  <!-- twitter card ends from here -->

  <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
  <meta property="og:title" content="El primer evento exclusivamente dedicado al mundo del front-end en Madrid" />
  <meta property="og:url" content="http://frontfest.es" />
  <meta property="og:locale" content="es_ES" />
  <meta property="og:site_name" content="Front Fest" />
  <meta property="og:description" content="Madrid, 18 de febrero de 2017"/>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://frontfest.es/assets/img/logo-rrss.png" /> <!-- when you post this page url in facebook , this image will be shown -->
  <!-- facebook open graph ends from here -->

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- icons & favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.github.url }}/assets/img/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="{{ site.github.url }}/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Front Fest">
  <meta name="application-name" content="Front Fest">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.github.url }}/assets/img/favicon.ico" />  <!-- this icon shows in browser toolbar -->
  <link rel="icon" type="image/x-icon" href="{{ site.github.url }}/assets/img/favicon.ico" /> <!-- this icon shows in browser toolbar -->

  <link rel="manifest" href="{{ site.github.url }}/manifest.json">

  <!-- Fallback For IE 9 [ Media Query and html5 Shim] -->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/styles/animate.css" media="all" />

  <!-- CUSTOM  CSS  -->
	<link id="cbx-style" rel="stylesheet" href="{{ site.github.url }}/assets/styles/main.css" media="all" />

  <!-- adding google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Exo:400,600" rel="stylesheet" type="text/css">

</head>

<body>

<!--[if lt IE 9]>
<p class="browsehappy">We are Extreamly sorry, But the browser you are using is probably from when civilization started. Which is way behind to view this site properly. Please update to a modern browser, At least a real browser. </p>
<![endif]-->

<div class="cbx-container">
  {{ content }}
</div>

<!-- MODERNIZER  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!-- SITE  SCRIPT  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- WOW  JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.0/wow.min.js"></script>

<!--- for smooth scroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.0.0/jquery.smooth-scroll.min.js"></script>

<!-- if use countdown plugin then use this plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.min.js"></script>
<script src="{{ site.github.url }}/assets/js/jquery.final-countdown.js"></script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8yDM3bimcspf6Hvv3fAHPtPCeAN3qGGc"></script>

<!-- CUSTOM JS -->
<script src="{{ site.github.url }}/assets/js/cbscript.js"></script>

{% include google-analytics.html %}

</body>
</html>
