@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff2');
    font-weight: bold;
}

body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
}

ul, li {
  margin: 0;
  padding: 0;
}

h3 {
  color: #555;
  font-weight: normal;
}

p {
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
}

.margin-right {
  margin-right: 15px;
}

.margin-left {
  margin-left: 15px;
}

.btn {
  text-decoration: none;
  background-color: #ffcc00;
  padding: 12px 28px;
  color: black;
  font-weight: bold;
  transition: 0.25s;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: #cc9900;
}

.nav-collapse {
  display: flex;
  justify-content: space-between;
}

.nav-collapse ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 30px;
}

.nav-collapse li {
  list-style-type: none;
  width: auto;
  margin: 0 15px;
  line-height: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-collapse a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-collapse a:hover {
  color: black;
  background-color: #ffcc00;
}

.header {
  background-color: black;
  background-image: url('http://frontfest.es/2017/assets/img/event/08s.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: auto;
  color: white;
}

@media screen and (min-width: 48em) {
  .header {
    height: 700px;
  }
}

.header .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header .block {
  margin-bottom: 80px;
  padding: 20px;
}

.header .logo-svg {
  width: 350px;
  transform: perspective(300px) rotateX(7deg) rotateY(7deg);
}

.header .date {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 40px 0;
}

.separator {
  width: 100px;
  height: 4px;
  border: 0;
  background-color: #ff3b3b;
}

.previous {
  padding: 50px 0;
}

.coc {
  padding: 50px 0;
  background-color: #96b9ff;
}

.footer {
  padding: 50px 0;
  background-color: #fff;
}


.list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0 0 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.list li {
    margin: 0 8px;
    position: relative;
}

.list li:after {
    content:"|";
    display: block;
    position: absolute;
    color: inherit;
    width: 1px;
    height:5px;
    top: -1px;
    left: -12px;
}

.list li:first-child:after {
    content: "";
}

.link, .list a {
    color: #ddaa00;
}

.link:hover, .list a:hover {
    color: #ffcc00;
}
