@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Regular.woff2');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans-Bold.woff2');
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  color: #555;
}

button {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 1rem;
}

.p-08 {
  font-size: 0.8rem;
}

a {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'JosefinSans', Arial, sans-serif;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  margin: 1rem 0 0.6rem 0;
}

h2 {
  font-family: 'JosefinSans', Arial, sans-serif;
  font-size: 1.6rem;
}

h3 {
  color: #777;
  font-weight: normal;
}

p {
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.title-white {
  font-size: 2.4rem;
  color: #ccc;
  font-family: 'JosefinSans';
}

.subtitle-white {
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin: 0;
  color: white;
}

.max-width-200 {
  max-width: 200px;
}

.black-text {
  color: #222;
}

.white-text {
  color: white;
}

.large-text {
  font-size: 1.1rem;
}

.flex {
  display: flex;
}

.flex-1 {
  display: flex;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-left {
  text-align: start;
}

.width-full {
  width: 100%;
}

.margin-right {
  margin-right: 1.5rem;
}

.margin-left {
  margin-left: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.btn {
  text-decoration: none;
  background-color: #ffcc00;
  padding: 12px 28px;
  color: #222;
  font-weight: bold;
  transition: 0.25s;
  text-align: center;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.btn:hover {
  background-color: #cc9900;
  text-decoration: none;
}

.btn.transparent {
  border: 2px solid #222;
  background-color: transparent;
}

.btn.transparent:hover {
  background-color: #cc9900;
}

.btn.disabled {
  cursor: not-allowed;
}

.btn.disabled:hover,
.btn.transparent.disabled:hover {
  background-color: transparent;
}

aside {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #cc9900;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
}

aside.open {
	opacity: 1;
	visibility: visible;
  z-index: 1000;
}

aside .overlay-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

aside .overlay-menu li {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  margin: 10px 0;
  list-style-type: none;
  font-family: 'JosefinSans', Arial, sans-serif;
}

aside .overlay-menu li a {
  text-decoration: none;
  color: white;
}

.nav {
  z-index: 1001;
  transition: 0.5s;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  height: 70px;
}

.nav .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav.with-scroll {
  background-color: white;
  box-shadow: 1px 1px 2px 2px #ddd;
  height: 70px;
}

.nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.5rem;
}

.nav .nav-right {
  display: none;
}

.nav .toggle-menu {
  display: flex;
}

.nav .toggle-menu li {
  margin-right: 15px;
}

.nav .toggle-menu li#openMenu {
  display: flex;
}

.nav .toggle-menu li#closeMenu {
  display: none;
}

.nav .toggle-menu.open li#openMenu {
  display: none;
}

.nav .toggle-menu.open li#closeMenu {
  display: flex;
}

.nav li {
  list-style-type: none;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav a {
  padding: 0 0.7rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25rem;
}

.nav.with-scroll a {
  color: #222;
}

.nav svg path {
  transition: 0.5s;
  fill: white;
}

.nav.with-scroll svg path {
  fill: black;
}

.nav li:hover svg path {
  fill: #ffcc00;
}

.nav.with-scroll li:hover svg path {
  fill: black;
}

.nav a:hover {
  color: #ffcc00;
}

.nav.with-scroll a:hover {
  color: #222;
  background-color: #ffcc00;
}

.header {
  background-color: #222;
  width: 100%;
  height: 100vh;
  color: white;
}

.header .overlay {
  background-color: #222;
  width: 100%;
  height: 100%;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header .block {
  margin-bottom: 80px;
}

.header .logo-svg {
  width: 100%;
  max-width: 350px;
}

.header .date {
  font-size: 1.4rem;
  padding: 40px 0;
}

.separator {
  width: 100px;
  height: 4px;
  border: 0;
  background-color: #ff3b3b;
}

.tickets {
  background-color: #ec9d9d;
  color: #222;
}

.tickets .background-time {
  background-image: url('../images/ticket.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tickets .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tickets h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.tickets .price {
  font-size: 40px;
  font-weight: bold;
}

.tickets .btn {
  border: 2px solid #222;
  background-color: transparent;
}

.tickets .btn:hover {
  background-color: #ec9d9d;
}

.tickets .ticket {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.75);
}

.tickets .ticket-icon {
  width: 50px;
}

.previous,
.c4p {
  padding-top: 50px;
  padding-bottom: 50px;
}

.c4p .pic {
  border: 4px solid white;
}

.c4p .pic:nth-child(1) {
  margin-left: 6%;
  width: 80%;
}

.c4p .pic:nth-child(2) {
  margin-left: 12%;
  width: 80%;
  margin-top: -60px;
}

.c4p .pic:nth-child(3) {
  margin-top: -70px;
  width: 80%;
}

.coc {
  background-image: url('../images/event/03s.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.coc .overlay {
  padding: 50px 0;
  background-color: rgba(255, 204, 0, 0.9);
  width: 100%;
  height: 100%;
  text-shadow: 1px 1px 3px rgba(255, 255, 100, 0.8);
}

.coc2 .overlay {
  padding: 200px 0 50px 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}

.coc2 .overlay h1 {
  color: #fff;
}

.coc2 .overlay p {
  color: #ddd;
}

.sponsors h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: 40px;
}

.sponsors .span-black {
  color: #222;
}

.sponsors .span-platinum {
  color: gray;
}

.sponsors .span-gold {
  color: gold;
}

.sponsors .span-silver {
  color: silver;
}

.sponsors img {
  margin: 20px;
}

.sponsors a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platinum-sponsors,
.gold-sponsors,
.silver-sponsors,
.sponsors-in-kind,
.collaborators-sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  padding: 10px;
}

.platinum-sponsors img {
  width: 300px;
}

.gold-sponsors img {
  width: 250px;
}

.sponsors-in-kind img,
.silver-sponsors img {
  width: 200px;
}

.collaborators-sponsors img {
  width: 100px;
}

.footer {
  padding: 50px 0;
  color: #ddd;
  background-color: #222;
}

.footer a,
.yellow-link {
  color: #cc9900;
  font-weight: bold;
}

.footer .small-icon {
  width: 20px;
  margin-right: 8px;
}

.video-container {
  z-index: -1;
  margin-top: 20px;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.border-top {
  border-top: 3px solid #cc9900;
}

.list {
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  list-style: disc;
}

.list li {
  color: #ff3b3b;
  line-height: 1.3rem;
  margin-bottom: 0.3rem;
}

.list.black li {
  color: #222;
}

.list li span {
  color: #555;
}

.list li a {
  font-weight: bold;
  color: #cc9900;
}

.section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.section-small {
  padding-top: 25px;
  padding-bottom: 25px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-200 {
  width: 200px;
}

.bg-salmon {
  color: #222;
  background-color: #fed;
}

.bg-salmon h2 {
  margin: 0;
  font-family: 'OpenSans';
  font-size: 1.4rem;
}

.bg-salmon-2 {
  background-color: #e8e0d8;
  padding-bottom: 40px;
}

.bg-salmon-2-dark {
  height: 100%;
  padding: 5px 25px;
  background-color: #f8f0e8;
}

.bg-brown {
  background-color: #edc;
}

.bg-bars {
  background-image: url('../images/music-bars.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.speaker {
  width: 160px;
  height: 160px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.margin-top-25 {
  margin-top: 2.5rem;
}

.vertical-bars {
  display: none;
  width: 25px;
}

.vertical-bars div {
  width: 5px;
}

.vertical-bars div:nth-child(1) {
  margin-top: 25px;
  height: 85%;
  background-color: #ff3b3b;
}

.vertical-bars div:nth-child(2) {
  margin-top: 5px;
  height: 80%;
  background-color: #ffd53c;
}

.vertical-bars div:nth-child(3) {
  margin-top: 35px;
  height: 90%;
  background-color: #96b9ff;
}

.color-1 {
  font-family: 'OpenSans';
  font-size: 1.3rem;
  color: #111;
  margin: 0;
}

.handle-tw {
  margin-top: 0;
  margin-bottom: 10px;
}

.handle-tw a {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ff3b3b;
}

.color-2 {
  color: #ff3b3b;
  line-height: 1.2rem;
  font-size: 1rem;
}

.web-icon {
  width: 15px;
  margin-left: 10px;
}

.users {
  display: relative;
}

.users img {
  margin-right: 5px;
  width: 40px;
  display: absolute;
}

.sn-icon {
  height: 40px;
}

#mapid {
  width: 100%;
  height: 420px;
  z-index: 0;
}

@media screen and (min-width: 48rem) {
  .nav {
    height: 120px;
  }
  .nav .wrapper {
    margin: 0 2rem;
  }
  .nav .nav-right {
    display: flex;
  }
  .nav .toggle-menu {
    display: none;
  }
  .header {
    background-image: url('../images/event/08s.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  .header .overlay {
    background: linear-gradient(to top right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0) 100%);
  }
  .header .block {
    margin-bottom: 120px;
  }
  .speaker {
    width: 180px;
    height: 180px;
  }
  .platinum-sponsors {
    flex-direction: row;
  }
  .paradigma-logo {
    width: 370px;
  }
}

@media screen and (min-width: 64rem) {
  .vertical-bars {
    display: flex;
  }
}
