{% extends '../layout/layout.html' %}

{% block route %}../{% endblock %}

{% block content %}


            </div>
        </div> <!--//.CBX FOOTER-->
    </header>

    <!--SINGLE SPEAKER START-->
    <section>
        <div id="cbx-singlespeaker" class="cbx-singlespeaker">
            <div class="cbx-inner">
                <div class="container">
                    <article>
                        <header>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="sp-title">
                                        <!--h3 class="uppercase">speaker 1</h3-->
                                        <h1 class="uppercase speaker-details-heading">Código de conducta</h1>

                                        <p class="margin-top">
                                          Todos los participantes en el evento (organizadores, patrocinadores, ponentes y asistentes) deben aceptar
                                          el siguiente código de conducta. Durante el desarrollo del evento, los organizadores velarán por el cumplimiento
                                          del mismo y esperan que todos los participantes colaboren para mantener un ambiente adecuado para todos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <section>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="sp-details">

                                        <p>
                                          FrontFest es un evento en el que no se permitirá ningún tipo de abuso ni discriminación por motivos de sexo,
                                          procedencia, raza, religión, discapacidad, aspecto físico, orientación sexual e identidad. Cualquier persona
                                          que violara estas reglas básicas de convivencia podrá ser amonestado e incluso, expulsado del evento.
                                        </p>

                                        <p>
                                          Serán consideradas conductas abusivas la siguientes:
                                        </p>

                                        <ul>      
                                          <li>
                                            <p>Comentarios ofensivo relativo al género, procedencia, raza, religión, discapacidad, aspecto físico, orientación
                                            sexual e identidad.</p>
                                          </li>
                                          <li>
                                            <p>La reproducción de imágenes sexuales en los espacios públicos, así como conductas intimidatorias, contactos
                                            físicos inapropiados y atención sexual no deseada.</p>
                                          </li>
                                          <li>
                                            <p>La intimidación, persecución, filmación, fotografía o interrupción sistemática en las ponencias, serán también
                                            considerado situación de abuso.</p>
                                          </li>
                                        </ul>

                                        <p>
                                          Los organizadores pedimos la colaboración de todos los asistentes, así pues si sufres algún tipo de conducta
                                          abusiva u observas que alguien puede estar siendo víctima de ella, te rogamos encarecidamente que nos lo comuniques
                                          para tomar las medidas oportunas.
                                        </p>

                                        <p>
                                          En cualquier caso, las medidas disciplinarias dependerán siempre de la decisión de los organizadores, y en caso
                                          de llegar a producirse una expulsión, nunca existirá posibilidad de reembolso del precio de la entrada.
                                        </p>

                                        <p>
                                          Os agradecemos a todos vuestra colaboración y esperamos que el evento pueda desarrollarse en un ambiente agradable
                                          que nos permita a todos disfrutar de nuestra comunidad y todo lo que tenemos que aportar en ella.
                                        </p>

                                        <h4 class="uppercase margin-top">Equipo organizador</h4>

                                        <div class="staff-list">
                                          <p>
                                            <a href="https://twitter.com/LuisCalvoDiaz"><i class="fa fa-twitter"></i></a>                                           
                                            Luis Calvo                                
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/ignaciodenuevo"><i class="fa fa-twitter"></i></a>                                         
                                            Ignacio Villanueva
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/v4n3ss4ms"><i class="fa fa-twitter"></i></a>                                          
                                            Vanessa Medina                                         
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/luisddm_"><i class="fa fa-twitter"></i></a>                                       
                                            Luis de Dios
                                          </p>
                                          <p>
                                            <a href="https://github.com/juanfran"><i class="fa fa-github"></i></a>                                       
                                            Juanfran Alcántara
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/luisddm_"><i class="fa fa-twitter"></i></a>                                       
                                            Raquel Benito
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/xaviju"><i class="fa fa-twitter"></i></a>                                       
                                            Xavier Julián
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/marinalopezyap"><i class="fa fa-twitter"></i></a>                                            
                                            Marina López
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/rubnvp"><i class="fa fa-twitter"></i></a>                                       
                                            Rubén Valseca
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/jfdelrio"><i class="fa fa-twitter"></i></a>                                       
                                            Juan del Río
                                          </p>
                                          <p>
                                            <a href="https://twitter.com/noemedinaweb"><i class="fa fa-twitter"></i></a>                                          
                                            Noemi Medina
                                          </p>
                                        <div>

                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer>

                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!--SINGLE SPEAKER END-->


    <!--SUBSCRIBER START-->
    <section>
        <div id="cbx-subscriber" class="cbx-subscriber">
            <div class="cbx-testi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>Dudas y sugerencias</h3>
                            <p class="text">
                              Para cualquier duda o sugerencia, no dudes en contactar con la organización.
                            </p>
                        </div> <!--//main COL-->
                    </div> <!--// row-->
                    <div class="row">
                        <div class="col-xs-12  col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                            <div class="cbx-subscriber text-center">
                                <div class="form-group xs-text-center">
                                    <a href="mailto:frontfest@gmail.com" class="cbx-submit lz-submit-btn">¡Escríbenos!</a>
                                </div>
                            </div> <!--//.SUBSCRIBE-->
                        </div>
                    </div> <!--//ROW-->
                </div> <!--//container-->
            </div> <!--//cbx-inner-->
        </div>
    </section> <!--CONTACT END-->


    {% endblock %}
